[View in Colaboratory](https://colab.research.google.com/github/jbrunoxd/Reuse/blob/master/Copy_of_Trabalho_Herica_Simula%C3%A7%C3%A3o.ipynb)

In [0]:
print("Hello World");

Hello World

In [0]:
from google.colab import files
uploaded = files.upload()

Saving clientes.csv to clientes.csv

In [0]:
import io
data = io.BytesIO(uploaded['clientes.csv'])

In [0]:
import pandas as pd   
df = pd.read_csv(data, sep=';')
df.head()

   cliente perfil  valor_total_ticket  idade  renda_sm  recorrencia
0        1      b                5952     24       3.9           50
1        2      c                7676     34       7.5           52
2        3      b                5809     24       3.0           45
3        4      b                7004     31       4.2           38
4        5      c                6271     25       4.8           53

In [0]:
df.assign(ticket_medio=df.valor_total_ticket/df.recorrencia)

,cliente,perfil,valor_total_ticket,idade,renda_sm,recorrencia,ticket_medio
0,1,b,5952,24,3.9,50,119.040000
1,2,c,7676,34,7.5,52,147.615385
2,3,b,5809,24,3.0,45,129.088889
3,4,b,7004,31,4.2,38,184.315789
4,5,c,6271,25,4.8,53,118.320755
5,6,b,5149,22,5.1,38,135.500000
6,7,b,4967,23,3.6,41,121.146341
7,8,c,7192,28,4.8,63,114.158730
8,9,b,6261,28,5.1,40,156.525000
9,10,b,6437,33,3.0,43,149.697674
10,11,c,6541,28,6.3,60,109.016667
11,12,b,6598,24,3.6,37,178.324324
12,13,a,5547,35,0.9,17,326.294118
13,14,c,5835,31,6.9,52,112.211538
14,15,c,6889,33,5.1,49,140.591837
15,16,c,6419,31,7.2,61,105.229508
16,17,b,7029,23,5.4,50,140.580000
17,18,c,7497,38,4.2,53,141.452830
18,19,c,6321,36,6.6,51,123.941176
19,20,b,6725,22,4.8,41,164.024390
20,21,b,6662,23,3.3,39,170.820513
21,22,b,6822,22,5.1,30,227.400000
22,23,b,6334,27,3.9,35,180.971429
23,24,c,7710,33,5.7,60,128.500000
24,25,b,6707,34,3.6,39,171.974359
25,26,c,6287,29,6.0,53,118.622642
26,27,b,6259,26,3.6,46,136.065217
27,28,b,6216,31,3.6,48,129.500000
28,29,a,4780,32,1.8,11,434.545455
29,30,c,5627,33,5.7,59,95.372881
...,...,...,...,...,...,...,...
128724,128725,NaN,6984,32,4.5,36,194.000000
128725,128726,NaN,7708,26,6.3,69,111.710145
128726,128727,NaN,7384,29,7.5,45,164.088889
128727,128728,NaN,5644,36,7.5,66,85.515152
128728,128729,NaN,6904,36,4.8,69,100.057971
128729,128730,NaN,7489,31,4.5,59,126.932203
128730,128731,NaN,7288,38,7.5,49,148.734694
128731,128732,NaN,6834,32,3.6,36,189.833333
128732,128733,NaN,7237,31,5.7,64,113.078125
128733,128734,NaN,5882,34,3.9,49,120.040816
128734,128735,NaN,6861,38,5.7,51,134.529412
128735,128736,NaN,6826,32,5.4,52,131.269231
128736,128737,NaN,6037,30,7.5,67,90.104478
128737,128738,NaN,4951,23,1.2,11,450.090909
128738,128739,NaN,6927,28,5.4,37,187.216216
128739,128740,NaN,5217,36,1.8,14,372.642857
128740,128741,NaN,5729,33,4.8,66,86.803030
128741,128742,NaN,5724,23,4.8,46,124.434783
128742,128743,NaN,7703,25,6.9,67,114.970149
128743,128744,NaN,6163,31,4.2,51,120.843137
128744,128745,NaN,7711,33,4.2,64,120.484375
128745,128746,NaN,6750,25,6.9,48,140.625000
128746,128747,NaN,6205,36,7.5,48,129.270833
128747,128748,NaN,7130,30,7.5,56,127.321429
128748,128749,NaN,6093,33,3.6,51,119.470588
128749,128750,NaN,7309,28,7.5,59,123.881356
128750,128751,NaN,6378,26,3.9,39,163.538462
128751,128752,NaN,6049,31,4.2,55,109.981818
128752,128753,NaN,6076,31,7.5,51,119.137255
128753,128754,NaN,6537,31,4.2,36,181.583333

In [0]:
df.describe()

NameError: ignored